*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
}
.container{
  width: 980px;
  margin: 0 auto;
padding: 20px 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
}

h1{
  width: 100%;
  font-size: 52px;
  text-align: center;
  font-family: 'Lucida Sans';
  font-weight: 700;
  background: #20c7ff;
  color: #000;
  line-height: 1.5em;
}
.todoInputBox{
  width: 100%;

}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#20c7ff ;
  width: 100%;
}

.todoInputBox form{
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 20px;
}
.todoInputBox .inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
input{
  width: 23rem !important;
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
}
form button{
  background: white;
  color: black;
  font-size: 18px;
  padding: 10px 16px;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: inset 2px 0px 2px 0.8px;
  cursor: pointer;
}
.mainTaskList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.mainTaskContainer{
  width: 100%;
  margin-bottom: 2px;
}
.listContainer{
  background: rgb(160, 221, 245);
  width: 92%;
  padding: 20px 40px;
}
.mainTaskContainer ul li{
  list-style: none;
}
.mainTaskContainer h2{
  font-size: 18px;
}
.contentList{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentList button{
  background: rgb(221, 109, 109);
  padding: 4px 16px;
  color: white;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.header img{
  width: 15%;
  margin-bottom: 10px;
}

@media (320px <= width <= 470px){
  .container{
    width: 94%;
    align-items: center;
  }
  h1{
    font-size: 36px;
    line-height: 1.2em;
    color: #fff;

    background: transparent;
  }
  .header{
    width: 100%;
    flex-direction: column;
    background: rgb(0, 0, 0);
    padding: 10px 0;
  }
  .header img{
    width: 15%;
    margin: 10px 0;
    background: #fff;
  }

input{
  width: 100% !important;
}
.todoInputBox form{
 flex-direction: column;
 align-items: center;
 justify-content: center;
  gap: 20px;
  width: 94%;
  margin: 0 auto;
}
.todoInputBox form .inputBox{
  width: 100%;
}
.listContainer{
  width: 94%;
  padding: 10px 10px;
}
}